.logggedin-from {
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.art-from {
  height: 100vh;
}
.border {
  border-bottom: 2px solid gray;
}
.pointer {
  cursor: pointer;
}
.fgotpass {
  cursor: pointer;
  position: absolute;
  color: #e0a800;
  right: 20px;
}
.logggedin-from input {
  border: none;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-bottom: 1px solid #ced4da;
}
